#content .ico {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 0;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
}

#content .ico span { display: none; }

#content .edit { background-image: url('../img/edit.png'); }
#content .del { background-image: url('../img/del.png'); }

#content .join {
    background: transparent url('../img/participate.png') 5px center no-repeat;
    padding-left: 23px;
}

#content .voteup {
    background: transparent url('../img/vote.png') 5px center no-repeat;
    padding-left: 23px;
}

#content .join.joined,
#content .voteup.voted {
    background-color: #dfb; /*#fdb*/
    box-shadow: inset 0 0 8px 2px rgba(0,0,0,0.2);
}

#box-topic-details #left-area {
    float: left;
    width: 600px;
}