/*#content .ico {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 0;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
}*/

/*#content .ico span { display: none; }*/

#block-manage button {
    width: 80px;
}

#content .add span { background-image: url('../img/add.png'); }
#content .edit span { background-image: url('../img/edit.png'); }
#content .del span { background-image: url('../img/del.png'); }
#content .join span { background-image: url('../img/participate.png'); }
#content .vote span { background-image: url('../img/vote.png'); }
#content .merge span { background-image: url('../img/merge.png'); }

#toolbar .noti-topics span { background-image: url('../img/proposal.png'); }
#toolbar .noti-msg span { background-image: url('../img/msg.png'); }
#toolbar .noti-reput span { background-image: url('../img/karma.png'); }
#toolbar .settings span { background-image: url('../img/settings.png'); }

#content .ico.active {
    background: #dfb none; /*#fdb*/
    box-shadow: inset 0 0 8px 2px rgba(0,0,0,0.2);
}

/* ############## */
/* ### TOPICS ### */
/* ############## */

/* ### TOPICS-LIST ### */

#topic-list { border-top: 1px solid #e0e6ef; }

#topic-list .topic-item {
    height: 39px;
    border-bottom: 1px solid #e0e6ef;
    background-color: #f8f8f8;
}

#topic-list .link {
    padding: 2px 0;
    cursor: pointer;
}

#topic-list .link:hover {
    background-color: #f0f0f0;
}

#topic-list .progress {
    height: 100%;
    width: 5px;
    margin-right: 5px;
    float: left;
    background-color: #60a5ff;
}

#topic-list .time-remaining { padding-right: 5px; font-size: 12px; }
#topic-list .time-remaining div { text-align: right; }

#topic-list .stats {
    font-size: 11px;
    line-height: 14px;
}

#topic-list .name {
    text-shadow: 0 1px rgba(0,0,0,0.2);
    font-size: 17px;
    line-height: 21px;
}

#topic-list button.ico {
    margin-top: 3px;
}

/* ### TOPICS-DETAILS ### */

#topic-details h1 {
    margin-bottom: 0.1em;
}

#topic-details .sub-info {
    color: #333;
    font-size: 11px;
}

#topic-details .desc {
    overflow: hidden;
    height: auto;
}

#topic-details .open-desc {
    display: none;
    position: relative;
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 -15px 50px 15px #fff;
    background: #eeeeee url('../img/arrow-down.png') no-repeat center center;
}

#topic-details .open-desc:hover { background-color: #dddddd; }
#topic-details .open-desc span { display: none; }

/* ############## */
/* ### GROUPS ### */
/* ############## */

#groups .group {
    text-align: center;
    background: transparent url('../img/group.png') no-repeat left top;
    width: 64px;
    height: 64px;
    float: left;
    margin: 0 10px 10px 0;
}

#groups .group span {
    color: #fff;
    font-weight: 400;
    line-height: 64px;
    text-shadow: 1px 1px #666;
}
