/* ################### */
/* ##### CLASSES ##### */
/* ################### */

.barbtn {
    cursor: pointer;
    line-height: 2.5em;
    padding-left: 28px;
    background: #f8f8f8 url('../img/proposal.png') no-repeat 5px center;
    border-bottom: 1px solid #e0e6ef;
    border-top: 1px solid #e0e6ef;
}

.barbtn:hover {
    background-color:#f0f0f0;
}

/* ################# */
/* ##### ID'S ###### */
/* ################# */

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333 url('../img/ladekreis4.gif') center center no-repeat;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#container {
    width: 1100px;
    margin: 0 auto;
    padding-top: 50px;
}

#main {
    
}

/* ####################### */
/* ##### H E A D E R ##### */
/* ####################### */

#header {
    position: fixed;
    display: block;
    height: 40px;
    width: 100%;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    /*box-shadow: 0 0 5px rgba(0,0,0,0.5);*/
    z-index: 100;
}

#header-inner {
    width: 1050px;
    margin: 0 auto;
}

#logo {
    display: block;
    background: transparent url("../img/textlogo.png") 0 center no-repeat;
    background-size: auto 30px;
    height: 40px;
}

#about {
    float: right;
    padding-top: 10px;
    line-height: 30px;
    font-size: 0.8em;
}

/* ######################### */
/* ##### T O O L B A R ##### */
/* ######################### */

#toolbar {
    float: right;
}

#toolbar ul {
    display: inline-block;
    padding-top: 15px;
}

#toolbar li {
    list-style: none;
    margin: 0 0.5em;
    float: left;
}

#toolbar #separation {
    height: 16px;
    border-left: 1px solid #999;
}

#toolbar a {
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: left top;
    background-color: transparent;
}

#toolbar a .count {
    display: block;
    color: #fff;
    text-shadow: 0 0 2px rgba(0,0,0,0.8);
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    background-color: red;
    width: 12px;
    height: 12px;
}

#toolbar #noti-topics { background-image: url('../img/proposal.png'); }
#toolbar #noti-msg { background-image: url('../img/msg.png'); }
#toolbar #noti-reput { background-image: url('../img/karma.png'); }
#toolbar #settings { background-image: url('../img/settings.png'); }

/* ####################### */
/* ##### B L O C K S ##### */
/* ####################### */

.left-blocks {
    float: left;
    width: 199px;
    padding-top: 20px;
    border-right: 1px solid #ccc;
}

.right-blocks {
    float: left;
    width: 199px;
    padding-top: 20px;
    border-left: 1px solid #ccc;
}

.blocks h2 {
    padding-bottom: 0.2em;
    padding-left: 5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.2em;
}

.block {
    margin-bottom: 1.2em;
}

.block-content {
    padding: 5px;
}

/* ############################### */
/* ##### N A V I G A T I O N ##### */
/* ############################### */

#navigation li {
    list-style: none;
}

#navigation li a:before {
    content: '» ';
}

#navigation li a {
    display: block;
    font-size: 0.9em;
    line-height: 1.7em;
    z-index: 1;
}

#navigation li a:hover {
    color: #555;
}

/* ######################### */
/* ##### C O N T E N T ##### */
/* ######################### */

.view {
    float: left;
    width: 640px;
    padding: 20px 30px;
}

.content-only {
    width: 870px;
    padding: 20px 0 20px 30px;
}

/* ######################### */
/* ###### F O O T E R ###### */
/* ######################### */

#footer {
    font-size: 0.8em;
    position: absolute;
    bottom: 0px;
    background-color: #EEEEEE;
    border-top: 1px solid #CCCCCC;
    height: 30px;
    width: 100%;
    padding: 5px 0px;
    text-align: center;
}

#footmenu {
    display: inline-block;
}

#footmenu li {
    list-style: none;
    float: left;
}

#footmenu a {
    display: inline-block;
    padding: 0 0.3em;
    line-height: 1.5em;
}

/* ########################### */
/* ##### L I G H T B O X ##### */
/* ########################### */

.lightbox {
    display: none;
    height: 100%;
    width: 100%;
    background: transparent url('../img/transbg.png') left top repeat;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
}

.inner-lightbox {
    background-color: #fff;
    padding: 1em;
    width: 500px;
    box-shadow: 0 0 5px #000;
    border-radius: 3px;
    margin: 100px auto;
}

.it { margin-bottom: 0.5em; }

table .cell-center {
    text-align: center;
}

table .cell-right {
    text-align: right;
}