#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333 url('../img/ladekreis4.gif') center center no-repeat;
}

#wrapper {
    position: relative;
}

#container {
    width: 1100px;
    margin: 0 auto;
    padding-top: 50px;
}

#main {
    
}

/* ##### H E A D E R ##### */

#header {
    position: fixed;
    display: block;
    height: 40px;
    width: 100%;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    /*box-shadow: 0 0 5px rgba(0,0,0,0.5);*/
    z-index: 100;
}

#header-inner {
    width: 1050px;
    margin: 0 auto;
}

#logo {
    background: transparent url("../img/logo.png") 0 center no-repeat;
    background-size: auto 30px;
    height: 40px;
}

#about {
    float: right;
    padding-top: 10px;
    line-height: 30px;
    font-size: 0.8em;
}

/* ##### T O O L B A R ##### */

#toolbar {
    height: 30px;
    background-color: #f8f8f8;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#user-notification {
    display: none;
}

#toolbar li {
    list-style: none;
    margin: 0 0.5em;
    float: left;
}

#toolbar #separation {
    height: 32px;
    border-left: 1px solid #999;
}

#toolbar a {
    display: block;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: left top;
    background-color: transparent;
}

#toolbar a .count {
    display: block;
    color: #fff;
    text-shadow: 0 0 2px rgba(0,0,0,0.8);
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    background-color: red;
    width: 12px;
    height: 12px;
}

#toolbar #noti-topics { background-image: url('../img/ico_topics.png'); }
#toolbar #noti-msg { background-image: url('../img/ico_msg.png'); }
#toolbar #noti-reput { background-image: url('../img/ico_reput.png'); }
#toolbar #settings { background-image: url('../img/ico_settings.png'); }

/* ##### B L O C K S ##### */

.left-blocks {
    float: left;
    width: 199px;
    padding-top: 20px;
    border-right: 1px solid #ccc;
}

.right-blocks {
    float: left;
    width: 199px;
    padding-top: 20px;
    border-left: 1px solid #ccc;
}

.blocks h2 {
    padding-bottom: 0.2em;
    padding-left: 5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.2em;
}

.block {
    margin-bottom: 1.5em;
}

.block-content {
    padding: 5px;
}

/* ##### N A V I G A T I O N ##### */

#navigation li {
    list-style: none;
}

#navigation li a:before {
    content: '» ';
}

#navigation li a {
    display: block;
    font-size: 0.9em;
    line-height: 1.7em;
    z-index: 1;
}

#navigation li a:hover {
    color: #555;
}

/* ##### C O N T E N T ##### */

.view {
    float: left;
    width: 640px;
    padding: 20px 30px;
}

.content-only {
    width: 870px;
    padding: 20px 0 20px 30px;
}

/* ##### L I G H T B O X ##### */

.lightbox {
    display: none;
    height: 100%;
    width: 100%;
    background: transparent url('../img/transbg.png') left top repeat;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
}

.inner-lightbox {
    background-color: #fff;
    padding: 1em;
    width: 500px;
    box-shadow: 0 0 5px #000;
    border-radius: 3px;
    margin: 100px auto;
}

.it { margin-bottom: 0.5em; }

table .cell-center {
    text-align: center;
}

table .cell-right {
    text-align: right;
}