* {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  font: 1em sans-serif;
  background-color: #f8f8f8;
}
a {
  color: #0069ff;
}
p {
  margin-bottom: 0.8em;
}
ul {
  list-style-position: inside;
}
h1 {
  font-size: 1.3em;
  margin-bottom: 0.4em;
}
#wrapper {
  width: 450px;
  margin: 50px auto;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
#logo {
  display: block;
  width: 267px;
  height: 50px;
  background: transparent url("../img/logo.png") left top no-repeat;
}
#display {
  margin: 2em 0;
}
#userbar {
  margin-bottom: 10px;
}
#footer .menu {
  display: inline-block;
}
#footer ul li {
  float: left;
  margin-right: 0.5em;
  list-style: none;
}
input {
  padding: 0.2em 0.4em;
}
input[type=text] {
  font-size: 1.1em;
  border: 1px solid #333;
  box-shadow: inset 0 0 2px #dda0dd;
}
input[type=text]:hover,
input[type=text]:focus {
  box-shadow: 0 0 4px #4b0082;
}
