<div id="header">
    <div id="header-inner">
        <div id="toolbar">
            <div id="user-notification">
                <ul>
                    <li><button title="current topics" class="ico noti-topics"><span><mark class="count">3</mark></span></button></li>
                    <li><button title="new messages" class="ico noti-msg"><span><mark class="count">1</mark></span></button></li>
                    <li id="separation"></li>
                    <li><button title="reputation statistics" class="ico noti-reput"><span></span></button></li>
                    <li><button title="settings" class="ico settings"><span></span></button></li>
                </ul>
            </div>
        </div>
        <a href="/" id="logo"></a>
    </div>
</div>

<div id="container">

    <div class="clearfix" id="main">
        
        <div class="blocks left-blocks">
            
            <div class="block" id="navigation">
                <h2>Navigation</h2>
                <div class="block-content">
                    <ul>
                        <li><a href="/#/login">login</a></li>
                        <li><a href="/#/register">register</a></li>
                        <li><a href="/#/topics">topics</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
        
        <div id="content"></div>
        
    </div>

</div>

<div id="footer">
    <ul id="footmenu">
        <li><a href="/#/about">about</a></li>
        <li><a href="/#/contact">contact</a></li>
        <li><a target="_blank" href="https://github.com/sagacitysite/mindabout">github</a></li>
        <li><a target="_blank" href="https://twitter.com/mindabout">twitter</a></li>
    </ul>
</div>