<div id="header">
    <div id="toolbar">
        <ul>
            <li><a title="current topics" id="noti-topics"><span class="count">3</span></a></li>
            <li><a title="new messages" id="noti-msg"><span class="count">1</span></a></li>
            <li><a title="reputation statistics" id="noti-reput"><span class="count">5</span></a></li>
            <li id="separation"></li>
            <li><a title="settings" id="settings"></a></li>
        </ul>
    </div>
</div>
<div id="main">
    <div id="navigation">
        <ul>
            <li><a href="/#/login">login</a></li>
            <li><a href="/#/register">register</a></li>
            <li><a href="/#/pads">pads</a></li>
            <li><a href="/#/topics">topics</a></li>
        </ul>
    </div>
    <div id="content"></div>
</div>
<!--<div id="footer">
    <ul>
        <li><a href="/#/login">login</a></li>
        <li><a href="/#/register">register</a></li>
    </ul>
</div>-->