<div id="header">
    <div id="header-inner">
        <div id="about"><a>About</a> - <a>GitHub</a> - <a>Twitter</a> - <a>Contact</a></div>
        <div id="logo"></div>
    </div>
</div>

<div id="container">
    
    <!--<div id="toolbar">
        <div id="user-notification">
            <ul>
                <li><a title="current topics" id="noti-topics"><span class="count">3</span></a></li>
                <li><a title="new messages" id="noti-msg"><span class="count">1</span></a></li>
                <li><a title="reputation statistics" id="noti-reput"><span class="count">5</span></a></li>
                <li id="separation"></li>
                <li><a title="settings" id="settings"></a></li>
            </ul>
        </div>
    </div>-->

    <div class="clearfix" id="main">
        
        <div class="blocks left-blocks">
            
            <div class="block" id="navigation">
                <h2>Navigation</h2>
                <div class="block-content">
                    <ul>
                        <li><a href="/#/login">login</a></li>
                        <li><a href="/#/register">register</a></li>
                        <li><a href="/#/topics">topics</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
        
        <div id="content"></div>
        
    </div>

</div>

<!--<div id="footer">
    <ul>
        <li><a href="/#/login">login</a></li>
        <li><a href="/#/register">register</a></li>
    </ul>
</div>-->