<p>Your name: <%= username %></p>
<p><strong>Listing of current pads:</strong></p>

<ul>
    <% pads.forEach(function (item){ %>
        <li><%= item %></li>
    <% }); %>
</ul>

<br/>
<form method="post">
    <div class="legend"><p><strong>Create new pad:</strong></p></div>
    <div>
        <input type="text" name="padname">
        <input type="submit" value="Save">
    </div>
</form>