<div id="footer">
    <div>Copyright © Mindabout 2013</div>
    <div class="menu">
        <ul>
            <li><a href="/site/about">About </a></li>
            <li><a href="/site/contact">Contact Us</a></li>
        </ul>
    </div>
</div>