<!DOCTYPE html>
<html>
    <head>
        <title>mindabout | <%= title %></title>
        <link rel="stylesheet" href="/style/style.css">
        <link rel="shortcut icon" href="/img/favicon.ico">
        <script type="text/javascript" src="/js/jquery.min.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <%= include header.ejs %>
            <div id="display">
                <%- body %>
            </div>
            <%= include footer.ejs %>
        </div>
    </body>
</html>