<html>
    <head>
        <title>ejs - <% title %></title>
        <link rel="stylesheet" href="/style/style.css">
    </head>
    <body>
        <div id="wrapper">
            <% inc %>
            <% include footer.ejs %>
        </div>
    </body>
</html>