
<h1>Welcome to the mindabout project!</h1>
<p>Log in to create your first pad.</p>
<form method="post">
    <div class="legend"><p><strong>Your name:</strong></p></div>
    <div>
        <input type="text" name="username">
        <input type="submit" value="Log In">
    </div>
</form>