<div class="view cotent-only" id="login">
    <h1>Login</h1>
    
    <p>Welcome to OpenEvocracy project!</p>
    
    <form id="login-form" class="form" data-validate="parsley">
        <p>
            <label for="name">Your ID:</label>
            <input type="text" id="name" name="name" placeholder="your id" />
        </p>
    
        <p>
            <label for="pass">Your password:</label>
            <input type="password" id="pass" name="pass" placeholder="your password" />
        </p>
    </form>

    <!--<button class="login">Login</button>-->
    <a id="log" class="btn btn-primary btn-lg" data-bypass>Login</a>
</div>