<div class="box small-box" id="box-login">
    <h1>Login</h1>
    
    <p>Welcome to mind-about project!</p>
    
    <form id="login-form" class="form" data-validate="parsley">
        <p>
            <label for="uid">Your ID:</label>
            <input type="text" id="uid" name="user-id" placeholder="your id" />
        </p>
    
        <p>
            <label for="upw">Your password:</label>
            <input type="password" id="upw" name="user-password" placeholder="your password" />
        </p>
    </form>

    <!--<button class="login">Login</button>-->
    <a id="login" class="btn btn-primary btn-lg" data-bypass>Login</a>
</div>