<div class="box small-box" id="box-register">
    <h1>Register</h1>
    
    <p>Nice to have you with us!</p>
    
    <form id="signup-form" class="form" data-validate="parsley">
        <p>
            <label for="uid">Your ID:</label>
            <input type="text" id="uid" name="uid" value="" readonly />
            <button id="again">New ID!</button>
        </p>
        
        <p>
            <label for="email">Your email-address:</label>
            <input type="email" id="email" name="email" placeholder="your e-mail" />
        </p>
        
        <p>
            <label for="upw">Your password:</label>
            <input type="password" id="upw" name="upw" placeholder="choose password" />
        </p>
    </form>
    
    <button id="register">Register</button>
</div>