<import: src="./home">
<import: src="./list">
<import: src="./login">
<import: src="./form">


<Header:>
  <body class="{{dash($ns)}}">
  <ui:connectionAlert>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Project</a>
        <div class="nav-collapse">
          <ul class="nav">
            <!-- Other templates are included like HTML elements -->
            <app:navLink title="Home" href="/">
            <app:navLink title="List-zum Testen" href="/list">
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">

<Footer:>
    </div>
  </div>
  <footer>
    <div class="container">
      <p>&copy; Company 2012</p>
    </div>
  </footer>

<navLink:>
  <li class="{{#if equal($url, @href)}}active{{/}}">
    <a href="{{@href}}">{{@title}}</a>
  </li>
