<div class="box large-box" id="box-topic-details">
    <h1>{{name}}</h1>
    <hr/>
    
    <!-- Left Area -->
    <div id="left-area">
        
        <h2>Description</h2>
        <!--<p>{{desc}}</p>-->
        
        <!-- Blindtext -->
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
        <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a,</p>
        <!-- // -->
        
        <hr/>
        
         <!-- #ifis status 3 -->
        <h2>Groups in current level</h2>
           
        <div id="groups">
            <div id="group-1" class="group"><span>1</span></div>
            <div id="group-2" class="group"><span>2</span></div>
            <div id="group-3" class="group"><span>3</span></div>
            <div id="group-4" class="group"><span>4</span></div>
            <div id="group-5" class="group"><span>5</span></div>
            <div id="group-6" class="group"><span>6</span></div>
            <div id="group-7" class="group"><span>7</span></div>
            <div id="group-8" class="group"><span>8</span></div>
        </div>
        <!-- /ifis -->
        
        <hr/>
        
        <h2>Discussion</h2>
        <div id="dis">
            <div class="section">
                <div class="user">Carlo</div>
                <p>Wir sollten dringend weniger Cola trinken! Aber wenn es sein muss, dann wenigstens Cola mit viel Zucker!</p>
            </div>
            <div class="section">
                <div class="user">Patrick</div>
                <p>Mindestens!</p>
            </div>
            <div class="section">
                <div class="user">Max</div>
                <p>Und bitte schwarz!</p>
            </div>
        </div>
    
    </div>
    
    <!-- Right Area -->
    <div id="right-area">
    
        <div class="block" id="block-manage">
            <div class="block-title">
                <h2>Manage</h2>
            </div>
            <div class="block-content">
                <button class="join{{#if joined}} joined{{/if}}"><span>{{#if joined}}Joined{{else}}Join{{/if}}</span></button>
                <button class="voteup{{#if voted}} voted{{/if}}"><span>{{#if voted}}Voted{{else}}Vote{{/if}}</span></button>
                <button class="merge"><span>Merge</span></button>
                <button class="edit"><span>Edit</span></button>
                <button class="del"><span>Delete</span></button>
            </div>
        </div>
        
        <hr/>
        
        <div class="block" id="block-facts">
            <div class="block-title">
                <h2>Details</h2>
            </div>
            <div class="block-content">
                <ul>
                    <li>Votes: {{votes}}</li>
                    <li>Members: 220 <!-- count members --></li>
                    <li>Stage: {{stage}}</li>
                    <li>Level: {{level}}</li>
                </ul>
            </div>
        </div>
        
        <hr/>
        
        <div class="block" id="block-stats">
            <div class="block-title">
                <h2>Statistics</h2>
            </div>
            <div class="block-content">
                
            </div>
        </div>
        
    </div>
    
</div>
