<!-- Lightbox Area -->
<div class="lightbox" id="box-topic-new">
    <div class="inner-lightbox">
        
        <h1>Edit Topic</h1>
            
        <div class="it">
            <label for="topic-name">Name:</label><br/>
            <input type="text" class="topic-name" />
            <input type="hidden" class="topic-id" />
        </div>
        <div class="it">
            <label for="topic-desc">Description:</label><br/>
            <textarea rows="8" class="topic-desc"></textarea>
        </div>
        <button class="save">Save Topic</button>
        <button class="cancel">Cancel</button>
    </div>
</div>

<!-- Content Area -->
<div class="box medium-box" id="box-topics">
    <h1>New Topics</h1>
    
    <button class="add">Add Topic</button>
    
    <br/><br/>
    
    <table>
        <thead>
            <tr>
                <th>join</th>
                <th>title</th>
                <!--<th>description</th>-->
                <th>status</th>
                <th>level</th>
                <!--<th>doc</th>-->
                <th>vote</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody class="topic-list">
            
        </tbody>
    </table>
</div>
