<div class="progress"></div>

<div class="link">

<div class="right-pos">
    {{#ifis stage 0}}
    <div class="buttons">
        <button class="ico join{{#if joined}} active{{/if}}" title="{{#if joined}}leave{{else}}join{{/if}}"><span></span></button>
        <button class="ico vote{{#if voted}} active{{/if}}" title="{{#if joined}}unvote{{else}}vote{{/if}}"><span></span></button>
    </div>
    {{else}}
    <div class="time-remaining">
        <div>Completion of {{#ifis stage 1}}proposal stage{{else}}level {{level}}{{/ifis}} in</div>
        <div id="timeremaining-{{_id}}"></div>
    </div>
    {{/ifis}}
</div>

<div>
    <div class="name">{{name}}</div>
    <div class="stats">
        {{#ifis stage 0}}created: {{formattedDate}}{{else}}started: {{proposal-date}}{{/ifis}}
        {{#ifis stage 0}}, {{votes}} votes{{/ifis}},
        {{participants}} participants
    </div>
</div>

</div>