<!-- Lightbox Area -->
<div class="lightbox" id="box-topic-new">
    <div class="inner-lightbox">
        
        <h1>Edit Topic</h1>
            
        <div class="it">
            <label for="topic-name">Name:</label>
            <input type="text" class="topic-name" />
            <input type="hidden" class="topic-id" />
        </div>
        <div class="it">
            <label for="topic-desc">Description:</label>
            <textarea rows="8" class="topic-desc"></textarea>
        </div>
        <button class="save">Save Topic</button>
        <button class="cancel">Cancel</button>
    </div>
</div>

<!-- Content Area -->
<div class="box small-box" id="box-topics">
    
    <div class="right-pos">
        <button class="ico add" title="add topic"><span></span></button>
    </div>
    
    <h1>New Topics</h1>
    <hr/><br/>
    
    <div id="topic-list"></div>
</div>
